<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @actor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @actor.description %>
</p>

<p>
  <strong>Defaultsettings:</strong>
  <%= @actor.defaultSettings %>
</p>

<p>
  <strong>Settings:</strong>
  <%= @actor.settings %>
</p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
